/.idea/*
/nbproject
/storage/*.key
/public/hot
/public/report
/node_modules
/public/cache/*
/public/storage
/storage/database.sqlite
/storage/cache/*
/storage/laravel-analytics
/vendor
/.vagrant
Homestead.json
Homestead.yaml
.env
._*
.sub*
.smb*
.DS_Store
npm-debug.log
.vscode
/.sass-cache/*
yarn.lock
coverage.xml